.action-styling {
    position: relative;
    padding-top: 40px;
    height: 300px;
    display: flex;
    z-index: 2;
    overflow-x: auto;
}
.action-title {
    position: absolute;
    z-index: 1;
    top: 20px;
}
.action-styling::-webkit-scrollbar {
    display: none;
}
